<div class="form">
  <div class="col-sm-6">
  <h5>How many boxes you want?

  </h5>

  <label>Number of options
    <input type="text" name="option" [(ngModel)]="option1"  >
  </label>
  <input type="button" value="click for boxes" class="btn btn-info" name="box" (click)="box()" > 

  <div *ngIf="isVisible">
    <div *ngFor="let data of validValues;let a = index" >Item - {{a+1}} 
      <input type="text"  (change)="setValue($event,a)"  [value]="validValues[a]" /> 
      <!-- <input type="text"  [(ngModel)]="validValues[a]" /> -->
    </div>
    
  </div>
  <div *ngIf="isVisible">
    <input type="button" name="submit"  class="btn btn-info" value="save" (click)="createAnswer()"  />
  </div>
</div>
</div>