<body>
  <div class="container">
<div class="col-sm-6 form">
  <h5>We are connecting a poll feedback form to improve our city . so please participate in it 
    and gives us some review about your city. what you want? where ? why etc.

  </h5><br><br>

  <label>Number of options
      <br><br><input type="text" name="option" [(ngModel)]="option1"  class="input_box" >
  </label>
  <br> <br><input type="button" value="click for boxes" name="box" (click)="box()"  class="btn btn-info" ><br> 

  <div *ngIf="isVisible"><br><br>
    <div *ngFor="let data of validValues;let a = index">feedback - {{a+1}} <input type="text" class="input_box" [value]="validValues[a]"  /> </div>
   <br> <input type="button" name="save" value="save" (click)="createAnswer()"  class="btn btn-info"/>  </div>
</div>
</div>
  
</body>